/* AuthModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 16px 24px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal-content h2 {
  color: var(--primary-color-700);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-content form label {
  font-size: 16px;
}

.modal-content form input {
  padding: 8px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid var(--grayscale-color-400);
  background-color: var(--grayscale-color-200);
  width: 100%;
}

.modal-content form input:focus {
  outline: none;
  border-image: linear-gradient(
      to right,
      var(--primary-color-200) 0%,
      var(--primary-color-500) 100%
    )
    1;
  background-color: rgba(32, 140, 162, 0.1);
}

.modal-content form button {
  width: auto;
  align-self: center;
  padding: 12px;
  border: 0;
  background-color: var(--primary-color-500);
  color: var(--grayscale-color-100);
  border-radius: 2px;
}

.modal-content form button:hover {
  background-color: var(--primary-color-600);
}

.modal-content form button:disabled,
.modal-content form button[disabled] {
  background-color: var(--primary-color-700);
  color: rgba(255, 255, 255, 0.2);
  cursor: default;
}
