table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: auto;
  margin: -2px;
}

table thead tr th {
  background: var(--grayscale-color-400);
}

table thead tr th,
table tbody tr td {
  border: 2px solid transparent;
  overflow: auto;
}

table tbody tr {
  background: var(--grayscale-color-200);
}

table tbody tr:hover {
  background: var(--grayscale-color-300);
  cursor: pointer;
}
