:root {
  font-family: 'Inter', 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "Montserrat", serif;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

button {
  font-weight: bold;
  cursor: pointer;
}

a, .link-text {
  text-decoration: none;
  color: #146886;
  cursor: pointer;
}

a:hover, .link-text:hover {
  color: #0a4969;
  text-decoration: underline;
}